/* some style */

html,
body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

#page {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid black;
  width: 235px;
}

.buttonR {
  background-color: #ed143d;
  border-color: #f9f0e6;
  border-radius: 10px;
  padding: 6px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.buttonV {
  background-color: #2ebc6d;
  border-color: #f9f0e6;
  border-radius: 10px;
  padding: 6px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

#click {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
}

#result {
  background-color: #fffacd;
  margin-top: 10px;
  height: 100px;
  width: 235px;
}

